.fade-enter-active,
.fade-leave-to {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.__nuxt-error-page + .card {
  display: none;
}
.cls-1 {
  text-decoration: none;
  font-size: 26px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto,
    AppleSDGothicNeo-Regular, NanumBarunGothic, NanumGothic, "나눔고딕",
    "Segoe UI", Helveica, Arial, Malgun Gothic, Dotum, sans-serif;
  font-weight: 700;
  font-style: italic;
}
